<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{title:'Productos Pasteleria Coquita'}) %>

<link rel="stylesheet" href="/stylesheets/administracion.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link
    href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&family=Pacifico&family=Roboto&display=swap"
    rel="stylesheet">

<body class="cuerpo">
    <div id="main">
        <%- include('../partials/header') %>
        <h1> ADMINISTRACIÓN DE PRODUCTOS</h1>
        <section class="detalle-productos">

            <a href="/product/create">Subir nuevo producto</a> 

            <% products.forEach(product => { %>
            <article class="producto">
                <a href="/product/<%= product.id %> ">
                    <img src="/images/<%= product.image %> " class="foto-torta">
                    <p class="texto-torta">
                        <%= product.name %>
                    </p>
                    <p class="precio-torta">
                        $ <%= product.price %>
                    </p>
                </a>

                <div class="boton-comprar">
                    <a href="/product/edit/<%= product.id %> ">
                        <p class="texto-comprar">
                            Editar producto
                        </p>
                    </a>
                </div>
                <form action="/product/delete/<%= product.id %>?_method=DELETE" method="POST">
                    <div class="margen-de-boton boton-comprar">
                        <button type="submit">
                            Borrar Producto
                        </button>
                    </div>
                </form>

            </article>
            <% }); %>
        </section>


        <%- include('../partials/footer') %>
    </div>
</body>

</html>