<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Profile'}) %>
<link rel="stylesheet" href="../stylesheets/profile.css" />
<link rel="stylesheet" href="/stylesheets/profile.css" />
<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
<!-- Fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<script defer src="/js/profile.js"></script>

<body>
  <%- include('../partials/header') %>

  <div class="container">
    <div class="col-sm-12">
    <form  action="/user/avatar" id="newAvatar" method="post" enctype="multipart/form-data">
      <div class=" avatar-container">
        <img src="/images/avatars/<%=user.image  %>" class="avatar" alt="editar avatar"
          onclick="javascript:callInputFile()">
        <input type="file" name="image" id="avatarInputFile" class="avatarInputFile" accept=".png,.jpg,gif">
      </div>
      <div class="row btn-action-container">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-danger align-items-end" onclick="javascript:callInputFile()">Change
            Avatar</button>
          <button type="submit" class="btn btn-success align-items-end btn-upload-avatar " id="btn-upload-avatar"
            onclick="javascript:uploadAvatar()">Upload avatar</button>
        </div>
      </div>
    </form>
   </div>
    <div class="errors">

    </div>

    <div class="pt-5">
      <h1>Perfil del usuario</h1>
      <form action="/user/profile" method="POST" id="saveProfile">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Nombre"
              value="<%= user.firstName %> ">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Apellido"
              value="<%= user.lastName %>">
          </div>
          <div class=" form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
              value="<%= user.email %>">
          </div>
        </div>
        <div class="pt-2 pb-2">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>


      <div class="form-group mt-2">
        <h1>Cambio de Password</h1>
        <form method="POST" id="changePasswordForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" value="<%= user.password %>"
                disabled>
            </div>
          </div>
          <div class="form-row actions mt-1">
            <button type="button" value="" id="btChangePassword" class="btn btn-danger"
              onclick="javascript:changePassword()">
              Cambiar</button>
            <button type="submit" value="" id="btnSavePassword" class="btn btn-success" disabled>
              Guardar</button>
          </div>
        </form>
        <div class="messages">
          <% if(typeof messages !='undefined'){ %>
          <% messages %>
          <% } %>

        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>


</html>