<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title:'Creacion'}) %>

<link rel="stylesheet" href="/stylesheets/creacion.css">

<body>
    <%- include('../partials/header') %>
    <h1>Creacion de nuevo producto</h1>
    <div class="contenedor-grande">
        <form action="/product/create" method="POST" enctype="multipart/form-data" id="formulario" class="formulario">
            <div >
                <div class="datos">

                    
                    
                    <div class="inputs" id="grupo_name" class="formulario_grupo">
                        <label for="">Nombre:</label>
                        <input type="text" name="name" placeholder="Nombre" class="form-control margen-tres formulario__input" id="name">
                        <p class="formulario__input-error">Tiene que tener un nombre</p>
                    </div>





                    <div class="formulario_grupo" id="grupo_price" class="inputs">
                        <label for="">Precio:</label>
                        <input type="number" name="price" placeholder="Precio" class="form-control margen-tres formulario__input" id="price">
                        <p class="formulario__input-error">Tiene que tener un precio.</p>
                    </div>






                    <div class="formulario_grupo" id="grupo_detail" class="inputs">
                        <label for="">Descripción:</label>
                        <textarea type="text" name="detail" placeholder="Descripción" class="form-control margen-tres formulario__input" id="detail"></textarea>
                        <p class="formulario__input-error">Tiene que tener una descripcion.</p>
                    </div>

                    <div class="inputs">
                        <label for="">Categoría:</label>
                        <select class="form-control margen-tres" id="sel1" name="category">
                            <% categories.forEach(category => { %>
                            <option value=<%= category.id %>><%= category.name  %> </option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="inputs">
                        <label for="">Seleccionar foto:</label>
                        <input type="file" name="image" class="margen-tres form-control">
                    </div>
                </div>


                <div class="margen-de-boton dp-flex">
                    <button class="btn btn-sm btn-success" type="submit" >Guardar</button>
                    <button class="btn btn-sm btn-danger" type="reset">Limpiar</button>
                </div>
            </div>
        </form>
    </div>



</body>

<script>

const formulario = document.getElementById("formulario");
const inputs = document.querySelectorAll("#formulario input");
let submit = document.querySelector("button[type=submit]");

    const expresiones = {
        name: /^[a-zA-ZÀ-ÿ\s]{1,40}$/, // Letras y espacios, pueden llevar acentos.
        price: /^\d{1,5}$/, // 1 a 5 numeros.
        detail: /^[a-zA-ZÀ-ÿ\s]{1,60}$/
    }

    
const validarFormulario = (e)=>{
  switch(e.target.name){
    case "name":
    validarCampo(expresiones.name, e.target, "name");
    break;

    case "price":
    validarCampo(expresiones.price, e.target, "price");
    break;

    case "detail":
    validarCampo(expresiones.detail, e.target, "detail");
    break;

    }
}

const campos = {
    name: false,
    price:false,
    detail: false
}

let validarCampo = (expresion, input, campo) =>{
    if(expresion.test(input.value)){
      document.getElementById(`grupo_${campo}`).classList.remove("formulario__grupo-incorrecto");
      document.getElementById(`grupo_${campo}`).classList.add("formulario__grupo-correcto");
      document.querySelector(`#grupo_${campo} .formulario__input-error`).classList.add("formulario__input-error-activo")
      document.querySelector(`#grupo_${campo} .formulario__input-error`).classList.remove("formulario__input-error-activo")
     campos[campo]=true
     console.log(campos)
   
     
    }else{
      document.getElementById(`grupo_${campo}`).classList.add("formulario__grupo-incorrecto");
      document.getElementById(`grupo_${campo}`).classList.remove("formulario__grupo-correcto");
      document.querySelector(`#grupo_${campo} .formulario__input-error`).classList.add("formulario__input-error-activo")
      campos[campo]=false;
      console.log(campos)
    
    };
}


inputs.forEach((input)=>{
  input.addEventListener("keyup",validarFormulario )
  input.addEventListener("blur",validarFormulario )
    
});   

submit.addEventListener("submit", function(e){
  e.preventDefault()
  if (campos.nombre && campos.precio && campos.descripcion) {
    console.log("Se guardo tu producto")
  }
  this.submit;
})

</script>

<%- include('../partials/footer') %>

</html>