<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head', {title: 'Detalle de productos'}) %>
<link rel="stylesheet" href="/stylesheets/productDetail.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link
  href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&family=Pacifico&family=Roboto&display=swap"
  rel="stylesheet">
<script defer src="/js/productDetail.js"></script>

<body>

  <%- include('../partials/header') %>

  <section class="products-menu dp-flex">
    <article class="margin primer-item p-1">
      <img src="/images/birthday-cake.svg" class="products-icons">
      <a href="/product/category/3" class="color-link">
        <p class="f-pacifico">Cumpleaños</p>
      </a>
    </article>
    <article class="margin p-1">
      <img src="/images/celebration.svg" class="products-icons">
      <a href="/product/category/4" class="color-link">
        <p class="f-pacifico">Eventos</p>
      </a>
    </article>

    <article class="margin">
      <img src="/images/cupcake.svg" class="products-icons">
      <a href="/product/category/5" class="color-link">
        <p class="f-pacifico two-lines">Pequeños gustos</p>
      </a>
    </article>

    <article class="margin">

      <img src="/images/apple-pie.svg" class="products-icons">
      <a href="/product/category/6" class="color-link">
        <p class="f-pacifico one-line">Las de siempre</p>
      </a>
    </article>

  </section>

  <% include ../partials/buscador.ejs %>


  <section>
    <article class="compra-producto">
      <div class="contenedor-torta">
        <img src="/images/<%= product.image %> " class="foto-torta">
      </div>

      <div class="opciones">
        <div class="texto-precio">
          <div class="texto">
            <!-- Ocultar el product ID en la vista -->
            <h3 class="titulo-producto"> <%= product.name %> </h3>
            <p class="precio" id="precio">Precio: $ <%= product.price %> </p>
            <p class="hidden" id="precio1"><%= product.price %></p>

          </div>
        </div>

        <div class="detalle-cajon">
          <p class="detalle">Detalles del producto:</p>
          <p class="prod"><%= product.detail %></p>
        </div>

        <div class="cantidad-cajon">
          <label for="">Cantidad:</label>
          <select class="form-control margen-tres" id="sel1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <p class="carrito"><a class="btn btn-secondary" id="btn-agregar-carrito">Agregar al carrito</a></p>
        </a>


      </div>

    </article>
  </section>



  <!-- <div class="podes color-fondo">
    <h1 class="letra-fredoka">Podes agregar</h1>
    <div class="contenedor-imagenes dp-flex">
      <i class="fas fa-long-arrow-alt-left flechas margen-izquierda"></i>
      <div class="contenedor-postres">
        <a href="">
          <img src="/images/cupcake.svg" width="100px" height="100px" alt=""></a>
        <i class="fas fa-image color-chocolate"></i>
        <h2 class="letra-pacifico color-rosa">Cupcakes</h2>
        <h3 class="letra-roboto color-chocolate">$50 c/u</h3>
        <p class="contenedor-agregar"><a href="" class="boton-agregar">Agregar</p></a>
      </div>

      <div class="contenedor-postres">
        <a href="">
          <img src="/images/cupcake.svg" width="50px" height="50px" alt=""></a>
        <i class="fas fa-image color-chocolate"></i>
        <h2 class="letra-pacifico color-rosa">Brownies</h2>
        <h3 class="letra-roboto color-chocolate">$50 c/u</h3>
        <p class="contenedor-agregar"><a href="" class="boton-agregar">Agregar</p></a>
      </div>

      <div class="contenedor-postres">
        <a href="">
          <img src="/images/apple-pie.svg" width="50px" height="50px" alt=""></a>
        <i class="fas fa-image color-chocolate"></i>
        <h2 class="letra-pacifico color-rosa">Lemon Pie</h2>
        <h3 class="letra-roboto color-chocolate">$750 c/u</h3>
        <p class="contenedor-agregar"><a href="" class="boton-agregar">Agregar</p></a>
      </div>

      <div class="contenedor-postres">
        <a href="">
          <img src="/images/apple-pie.svg" width="50px" height="50px" alt=""></a>
        <i class="fas fa-image color-chocolate"></i>
        <h2 class="letra-pacifico color-rosa">Havenette</h2>
        <h3 class="letra-roboto color-chocolate">$750 c/u</h3>
        <p class="contenedor-agregar"><a href="" class="boton-agregar">Agregar</p></a>
      </div>

      <i class="fas fa-long-arrow-alt-right flechas margen-derecha"></i>
    </div>

  </div> -->

  <%- include('../partials/footer') %>
</body>

</html>