<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title:"Edicion de Productos"})%>
<link rel="stylesheet" href="/stylesheets/edicion.css">

<body>
    <%- include('../partials/header')%>
    <h1>Edición de producto: Product ID # <%= product.id %> </h1>
    <div class="contenedor-grande dp-flex">
        <img src="/images/<%= product.image %>" alt="click para cambiar la imagen" onclick="imgUpload">
        <div class="formulario dp-flex">
            <form action="/product/edit/<%= product.id  %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="datos dp-flex">

                    <div class="dp-flex espacio-botones">
                        <input type="text" name="name" placeholder="Nombre" class="margen-tres"
                            value="<%= product.name %> ">
                    </div>
                    <div class="dp-flex">
                        <input type="number" name="price" placeholder="Precio" class="margen-tres"
                            value="<%= product.price %>">
                    </div>
                    <div class=" dp-flex">
                        <input type="text" name="detail" placeholder="Descripción" class="margen-tres"
                            value="<%= product.detail %>">
                    </div>
                    <div>
                        <input type="text" name="category" placeholder="Categoria" class="margen-tres"
                            value="<%= product.category %>">
                    </div>
                    <div class=" dp-flex">
                        <input type="file" name="image">
                    </div>

                </div>
                <div class="margen-de-boton">
                    <button class="eliminar-producto" type="submit">Guardar producto</button>
                </div>
            </form>
            <form action="/product/delete/<%= product.id %>?_method=DELETE" method="POST">
                <div class="margen-de-boton">
                    <button class="eliminar-producto">Eliminar producto</button>
                </div>
            </form>

        </div>
    </div>
    <%- include('../partials/footer') %>

</body>

</html>